.footer {
    background-color: #157381;
    padding: 0 10%;
}

.copyright {
  padding: 10px;
  font-size: small;
  border-top: 1px solid #45b8ca;
  margin-top: auto;
  text-align: center;
  color: #3e99a7;
  margin-bottom: 0;
}

.icons-div {
  padding: 10px;
  text-align: center;
}

.icon {
  margin: 10px;
  color: #45b8ca;
}
