.pen-icon,
.heart-icon {
  color: #b9c3cc;
  cursor: pointer;
}

.col-md-4 {
  height: 100%;
}

.row {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .card {
    height: 100%;
  }
}
