@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

body {
  background: linear-gradient(to top, #bdbdbd, #ffffff);
}

img {
  height: 100%;
  object-fit: cover;
}

p,
span,
.form-control {
  font-family: 'Libre Franklin', sans-serif;
}
