@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  height: 100vh;
  background: linear-gradient(to top, #bdbdbd, #ffffff);
  /* background: linear-gradient(0.25turn, #b0b1b4, #ffffff, #b0b1b4); */
}

img {
  height: 100%;
  object-fit: cover;
}
